<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<table width="80%" align="center" cellspacing="0" cellpadding="10" border="1">
    <tr>
        <td valign="middle" height="70">  
			<table width="100%">
				<tr>					
					<td>
						<a href="home1.html" target="iFrame">
							<img height="48" src="/resource/logo.png" />
						</a>
					</td>
					<td align="right">
						<a href="/login" target="iFrame">Login</a>
					</td>
				</tr>
			</table>
        </td>
    </tr>
    <tr>
        <td align="center">
	<fieldset>
    <legend><b>LOGIN</b></legend>
		<form method="post" >
		<table>
            <tr>
                <td>ID</td>
				<td>:</td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td>Password</td>
				<td>:</td>
                <td><input type="password" name="pass"></td>
            </tr>
        </table>
        <hr />
		<br/>
        <input type="submit" name="submit" value="Submit">
    </form>
</fieldset>
		</td>
    </tr>
    <tr>
        <td align="center">
            Copyright &copy; 2019 (AIUB-ATP3)
        </td>
    </tr>
</table>
</body>
</html>