<!DOCTYPE html>
<html>
<head>
	<title>Send Notice To Student</title>
</head>
<body>
<table width="80%" align="center" cellspacing="0" cellpadding="10" border="1">
    <tr>
        <td colspan="2" valign="middle" height="70">  
			<table width="100%">
                <tr>
                    <td>
                            <img height="48" src="/resource/logo.png">
                    </td>
                    <td align="right">
                        Logged in as <a href="/teacherhome" target="iFrame"><%=name%></a>&nbsp;|
                        <a href="/logout">Logout</a>
                    </td>
                </tr>
			</table>
        </td>
    </tr>
    <tr>
	<td width="190" valign="top">
			<b>&nbsp;Teacher</b><hr/>
            <ul>
                <li><a href="/teacherhome" target="iFrame">Dashboard</a></li>
                
				<li><a href="/teacherhome/sendnotice" target="iFrame">Send Notice</a></li>
				<li><a href="/teacherhome/sendnote" target="iFrame">Send Note</a></li>
				<li><a href="/teacherhome/viewnotice" target="iFrame">View Notice</a></li>
            </ul> 
			<b>&nbsp;Personal</b><hr/>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </td>
        <td valign="top">

		
		
		
		
		
		
	<fieldset>
    <legend><b>Send Notice To Student</b></legend>
	<form method="POST">
		<br/>
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td>Class</td>
				<td>:</td>
				<td>
					<select name = "cls">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					</select>
				</td>
				<td></td>
			</tr>
			<tr><td colspan="4"><hr/></td></tr>
			<tr>
				<td>Subject</td>
				<td>:</td>
				<td><input name="sub" type="text"></td>
				<td></td>
			</tr>		
			<tr><td colspan="4"><hr/></td></tr>
			<tr>
				<td>Message</td>
				<td>:</td>
				<td> <textarea name="message"></textarea></td>
				<td></td>
			</tr>		
			<tr><td colspan="4"><hr/></td></tr>
		</table>
		<hr/>
		<input type="submit" name="submit" value="Send">
		<input type="reset">
	</form>
</fieldset>
	
	
	</td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            Copyright &copy; 2019 (AIUB-ATP3)
        </td>
    </tr>
</table>
</body>
</html>